html {
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 100%;
}

body {
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 16px;
	font-size: 1em;
	color: #494F5C;
}

h1, h2, h3, h4, h5 {
	font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #1C1E23;
}

h1 {
	font-size: 2.25em; /**36px**/
}

h2 {
	font-size: 1.7em; /**28px**/
}

h3 {
	font-size: 1.375em; /**22px**/
}

h4 {
	font-size: 1.125em; /**18px**/
}

h5 {
	font-size: 1em; /**16px**/
}

.container {
	width: 100%;
	margin: 40px 0px;
	padding: 20px 0px;
}
/**
 * Background color
 */

.button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  background-color: #1c77c3;
  color: #fff;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0em 0.5em 0em 0em;
  padding: .5em 1em;
  font-weight: normal;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  border-radius: 0.1875rem;
}

.primary-button-active {
	background-color: #0f416a;
	color: #fff;
}

.button:hover {
  background-color: #5da9e8;
  color: #fff;
  background-image: none;
  box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
}

.button-active {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  background-color: #0f416a;
  color: #fff;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0em 0.5em 0em 0em;
  padding: .5em 1em;
  font-weight: normal;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  border-radius: 0.1875rem;
}

.button-hover {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  background-color: #5da9e8;
  color: #fff;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0em 0.5em 0em 0em;
  padding: .5em 1em;
  font-weight: normal;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  border-radius: 0.1875rem;
}

/** Secondary Button **/
.secondary-button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  background-color: #788093;
  color: #fff;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0em 0.5em 0em 0em;
  padding: .5em 1em;
  font-weight: normal;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  border-radius: 0.1875rem;
}

.secondary-button-active {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  background-color: #1C1E23;
  color: #fff;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0em 0.5em 0em 0em;
  padding: .5em 1em;
  font-weight: normal;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  border-radius: 0.1875rem;
}

.secondary-button-hover {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  background-color: #B0B5C0;
  color: #fff;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0em 0.5em 0em 0em;
  padding: .5em 1em;
  font-weight: normal;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  border-radius: 0.1875rem;
}

/** Disabled Button **/
.disabled-button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  background-color: #E9EAED;
  color: #788093;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0em 0.5em 0em 0em;
  padding: .5em 1em;
  font-weight: normal;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  border-radius: 0.1875rem;
}

/** Big Button **/
.big-button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  background-color: #1c77c3;
  color: #fff;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0em 0.5em 0em 0em;
  padding: 1em 2em;
  font-weight: normal;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  border-radius: 0.1875rem;
}

.big-button-active {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  background-color: #0f416a;
  color: #fff;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0em 0.5em 0em 0em;
  padding: 1em 2em;
  font-weight: normal;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  border-radius: 0.1875rem;
}

.big-button-hover {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  background-color: #5da9e8;
  color: #fff;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0em 0.5em 0em 0em;
  padding: 1em 2em;
  font-weight: normal;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  border-radius: 0.1875rem;
}

/** Forms **/
.input-label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: normal;
	color: #1C1E23;
}

.ui-input {
	display: block;
	margin: 0;
	max-width: 100%;
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	outline: none;
	text-align: left;
	line-height: 1.5em;
	font-family: 'Helvetica Neue' Arial, Helvetica, sans-serif;
	font-size: 1em;
	padding: 0.5em;
	background-color: #fff;
	border: 1px solid #788093;
	color: #1c1e23;
	border-radius: 0.1875rem;
	box-shadow: none;
}

.ui-input-focused {
	display: block;
	margin: 0;
	max-width: 100%;
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	outline: none;
	text-align: left;
	line-height: 1.5em;
	font-family: 'Helvetica Neue' Arial, Helvetica, sans-serif;
	font-size: 1em;
	padding: 0.5em;
	background-color: #fff;
	border: 1px solid #788093;
	color: #1c1e23;
	border-radius: 0.1875rem;
	box-shadow: 0 0 3px #5DA9E8, 0 0 7px #5DA9E8;
}

.ui-input-error {
	display: block;
	margin: 0;
	max-width: 100%;
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	outline: none;
	text-align: left;
	line-height: 1.5em;
	font-family: 'Helvetica Neue' Arial, Helvetica, sans-serif;
	font-size: 1em;
	padding: 0.5em;
	background-color: #fff;
	border: 1px solid #D0021B;
	color: #1c1e23;
	border-radius: 0.1875rem;
	box-shadow: none;
}

.ui-input-success {
	display: block;
	margin: 0;
	max-width: 100%;
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	outline: none;
	text-align: left;
	line-height: 1.5em;
	font-family: 'Helvetica Neue' Arial, Helvetica, sans-serif;
	font-size: 1em;
	padding: 0.5em;
	background-color: #fff;
	border: 1px solid #417505;
	color: #1c1e23;
	border-radius: 0.1875rem;
	box-shadow: none;
}

/*--------------------
      Placeholder
---------------------*/

/* browsers require these rules separate */

.ui-input input::-webkit-input-placeholder {
	color: #788093;
}

.ui-input input::-moz-placeholder {
	color: #788093;
}

.ui-input input::-ms-input-placeholder {
	color: #788093;
}

.ui-input-error::-webkit-input-placeholder {
	color: #D0021B;
}

.ui-input-error::-moz-placeholder {
	color: #D0021B;
}

.ui-input-error::-ms-input-placeholder {
	color: #D0021B;
}

/*--Form--*/
.ui.form {
  position: relative;
  max-width: 100%;
}

/*--Content--*/
.ui.form > p {
  margin: 1em 0em;
}

/*--Field--*/
.ui.form .field {
  clear: both;
  margin: 0em 0em 1em;
}
.ui.form .field:last-child,
.ui.form .fields:last-child .field {
  margin-bottom: 0em;
}
.ui.form .fields .field {
  clear: both;
  margin: 0em 0em 1em;
}

/*--Labels--*/
.ui.form .field > label {
  display: block;
  margin: 0em 0em 0.28571429rem 0em;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.92857143em;
  font-weight: bold;
  text-transform: none;
}

.ui.form textarea,
.ui.form input:not([type]),
.ui.form input[type="date"],
.ui.form input[type="datetime-local"],
.ui.form input[type="email"],
.ui.form input[type="number"],
.ui.form input[type="password"],
.ui.form input[type="search"],
.ui.form input[type="tel"],
.ui.form input[type="time"],
.ui.form input[type="text"],
.ui.form input[type="url"] {
  width: 100%;
  vertical-align: top;
}

.ui.form input:not([type]),
.ui.form input[type="date"],
.ui.form input[type="datetime-local"],
.ui.form input[type="email"],
.ui.form input[type="number"],
.ui.form input[type="password"],
.ui.form input[type="search"],
.ui.form input[type="tel"],
.ui.form input[type="time"],
.ui.form input[type="text"],
.ui.form input[type="url"] {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0em;
  outline: none;
  -webkit-appearance: none;
  tap-highlight-color: rgba(255, 255, 255, 0);
  line-height: 1.2142em;
  padding: 0.67861429em 1em;
  font-size: 1em;
  background: #ffffff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  box-shadow: 0em 0em 0em 0em transparent inset;
  -webkit-transition: color 0.1s ease, border-color 0.1s ease;
          transition: color 0.1s ease, border-color 0.1s ease;
}

/* Set max height on unusual input */
.ui.form ::-webkit-datetime-edit,
.ui.form ::-webkit-inner-spin-button {
  height: 1.2142em;
}

/* Text Area */
.ui.form textarea {
  margin: 0em;
  -webkit-appearance: none;
  tap-highlight-color: rgba(255, 255, 255, 0);
  padding: 0.78571429em 1em;
  background: #ffffff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  outline: none;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  box-shadow: 0em 0em 0em 0em transparent inset;
  -webkit-transition: color 0.1s ease, border-color 0.1s ease;
          transition: color 0.1s ease, border-color 0.1s ease;
  font-size: 1em;
  line-height: 1.2857;
  resize: vertical;
}
.ui.form textarea:not([rows]) {
  height: 12em;
  min-height: 8em;
  max-height: 24em;
}
.ui.form textarea,
.ui.form input[type="checkbox"] {
  vertical-align: top;
}

/*--------------------
       UI Input
---------------------*/


/* Block */
.ui.form .field .ui.input,
.ui.form .fields .field .ui.input,
.ui.form .wide.field .ui.input {
  width: 100%;
}

/* Inline  */
.ui.form .inline.fields .field:not(.wide) .ui.input,
.ui.form .inline.field:not(.wide) .ui.input {
  width: auto;
  vertical-align: middle;
}

/* Auto Input */
.ui.form .fields .field .ui.input input,
.ui.form .field .ui.input input {
  width: auto;
}

/* Full Width Input */
.ui.form .ten.fields .ui.input input,
.ui.form .nine.fields .ui.input input,
.ui.form .eight.fields .ui.input input,
.ui.form .seven.fields .ui.input input,
.ui.form .six.fields .ui.input input,
.ui.form .five.fields .ui.input input,
.ui.form .four.fields .ui.input input,
.ui.form .three.fields .ui.input input,
.ui.form .two.fields .ui.input input,
.ui.form .wide.field .ui.input input {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 0px;
}

/*--------------------
        Fields
---------------------*/


/* Split fields */
.ui.form .fields {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.ui.form .fields > .field {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.ui.form .fields > .field:first-child {
  border-left: none;
  box-shadow: none;
}

/* Other Combinations */
.ui.form .two.fields > .fields,
.ui.form .two.fields > .field {
  width: 50%;
}
.ui.form .three.fields > .fields,
.ui.form .three.fields > .field {
  width: 33.33333333%;
}
.ui.form .four.fields > .fields,
.ui.form .four.fields > .field {
  width: 25%;
}
.ui.form .five.fields > .fields,
.ui.form .five.fields > .field {
  width: 20%;
}
.ui.form .six.fields > .fields,
.ui.form .six.fields > .field {
  width: 16.66666667%;
}
.ui.form .seven.fields > .fields,
.ui.form .seven.fields > .field {
  width: 14.28571429%;
}
.ui.form .eight.fields > .fields,
.ui.form .eight.fields > .field {
  width: 12.5%;
}
.ui.form .nine.fields > .fields,
.ui.form .nine.fields > .field {
  width: 11.11111111%;
}
.ui.form .ten.fields > .fields,
.ui.form .ten.fields > .field {
  width: 10%;
}


/*--Alerts--*/
.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: none;
	border-radius: 0.1875rem;
}
.alert-success {
	color: #28481C;
	background-color: #DFF0D8;
	border: none;
}
.alert-warning {
	color: #403707;
	background-color: #FCF8E3;
}
.alert-danger {
	color: #4D1E1E;
	background-color: #F2DEDE;
}
.alert-info {
	color: #134159;
	background-color: #D9EDF7;
}